---
import Section from '../../components/Section.astro';
import Title from '../../components/Title.astro';
import Layout from '../../layouts/Layout.astro';
import { getTranslations } from '../../i18n/utils';

const t = getTranslations('fr');
---

<Layout>
<Section title={t.about.title}>
    <p>{t.about.description1}</p>
    <p>{t.about.description2}</p>
    <p>{t.about.description3}</p>

</Section>
</Layout>

