---
import Section from '../components/Section.astro';
import Title from '../components/Title.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
<Section title="About">
    <p>Dragon Eye is a kid friendly club, rated 8 to 13. We snoop around town and look for clues during school hours on Mondays and Wednesdays.</p>
    <p>Strategy meetings are held every Monday and Wednesday morning, and are <strong>exclusive to Dragon Eye members.</strong></p>
    <p>We meet at the Dragon Eye HQ, which is located in the heart of the city.</p>

</Section>
</Layout>
