<nav class="flex items-center py-4 font-mono text-sm">
  <ul class="flex gap-4">
    <li class="hover:bg-blue-300 py-1 px-2 rounded-md transition-colors"><a href="/">Home</a></li>
    <li class="hover:bg-blue-300 py-1 px-2 rounded-md transition-colors"><a href="/about">About</a></li>
    <li class="hover:bg-blue-300 py-1 px-2 rounded-md transition-colors"><a href="/files">Files</a></li>
    <li class="hover:bg-blue-300 py-1 px-2 rounded-md transition-colors"><a href="/merch">Merch</a></li>
  </ul>
</nav>