---
const { title } = Astro.props;
---

<div class="flex flex-col gap-y-4">
  <h1 class="text-3xl md:text-4xl lg:text-6xl font-monomakh font-bold text-blue-900">{title}</h1>
  <div class="w-1/3 h-2 bg-blue-900 rounded-4xl" />
</div>