---
import FileDetails from "../../components/FileDetails.astro";
import Layout from "../../layouts/Layout.astro";
import alert from "../../assets/Alert.png";
---

<Layout>
  <div class="flex flex-col gap-4 mt-8">
    <a href="/files" class="text-blue-500 hover:text-blue-600"
      >← Back to Files</a
    >
    <FileDetails
      image={alert}
      imageAlt="Alert"
      title="The Ottawa School File"
      description="In Ottawa, there's a little school that's rumored to be haunted. Many people have seen strange things there. Near the girls' washroom, situated under the stairs,you might find something weird: a small door. At times, shreaking, creaking and footsteps can be heard from within. Upon further inspection, only paint buckets and pipes can be found. When the kids are at recess and the teachers are taking a break, something happens to the class phones. The screens bergin to flash yellow warning signs. If you check the plant box, you will see a face. This sight can induce headaches in some people, but not all."
      caseNumber="532976"
      alias="None"
      address="Ottawa, Ontario"
      knownAssociates="None"
      name="Uknown"
    />
  </div>
</Layout>
