---
import Link from "./Link.astro";
---

<nav class="flex items-center py-4 font-mono text-sm">
  <ul class="flex gap-4">
    <li><Link href="/" text="Home" /></li>
    <li><Link href="/about" text="About" /></li>
    <li><Link href="/files" text="Files" /></li>
    <li><Link href="/merch" text="Merch" /></li>
  </ul>
</nav>